* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* width */
  /* Track */
  /* Handle */
}

* ::-webkit-scrollbar {
  width: 15px;
}

* ::-webkit-scrollbar-track {
  box-shadow: inset 5px 0 15px black;
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 10px;
  /* Handle on hover */
}

* ::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 34, 34, 0.9);
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Ubuntu", nunito, sans-serif;
  line-height: 1.6;
}

html body .backgrounds {
  background: url(../Images/main-back.jpg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  position: fixed;
}

html body a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.btn-primary, .btn-secondary {
  display: block;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  width: 100%;
  text-transform: uppercase;
  transition: .3s all ease-in;
  cursor: pointer;
}

.btn-primary:hover, .btn-secondary:hover {
  transform: scale(0.98);
}

.btn-primary {
  color: white;
  background-color: #1161ee;
}

.btn-primary:hover {
  background-color: midnightblue;
  color: #999;
  box-shadow: 0 0 15px 5px whitesmoke;
}

.btn-secondary {
  color: white;
  background-color: crimson;
}

.btn-secondary:hover {
  background-color: #686868;
  color: whitesmoke;
}

@keyframes openClose {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes infoAnimeLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: -300px;
    opacity: 1;
  }
}

@keyframes infoAnimeRight {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 202px;
    opacity: 1;
  }
}

.forms {
  background: url(../Images/background.jpg) no-repeat center;
  background-color: blanchedalmond;
  color: #c8c8c8;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms .sign-form {
  background-color: rgba(40, 57, 101, 0.9);
  border-radius: 40px;
  width: 25%;
  padding: 40px 50px;
  height: 600px;
  transition: .3s all ease-in-out;
}

.forms .sign-form .login {
  width: 100%;
  height: 100%;
}

.forms .sign-form .sign-titles {
  text-transform: uppercase;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.forms .sign-form .sign-titles .active {
  color: white;
  border-bottom: 2px solid #1161ee;
}

.forms .sign-form .sign-titles .sign-in-title {
  margin-right: 15px;
  transition: .3s all ease-in-out;
}

.forms .sign-form .sign-titles .sign-in-title:hover {
  color: #c8c8c88f;
}

.forms .sign-form .sign-titles .sign-up-title {
  transition: .3s all ease-in-out;
}

.forms .sign-form .sign-titles .sign-up-title:hover {
  color: #c8c8c88f;
}

.forms .sign-form .sign-in {
  animation-name: openClose;
  animation-duration: 1s;
  transition: .3s all ease-in-out;
}

.forms .sign-form .sign-up {
  animation-name: openClose;
  animation-duration: 1s;
  display: none;
  transition: .3s all ease-in-out;
}

.forms .group {
  color: #aaa;
  margin-bottom: 15px;
}

.forms .group .small-label {
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.forms .group .sign-inputs {
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  outline: none;
  transition: .2s all ease-in;
}

.forms .group .sign-inputs:active, .forms .group .sign-inputs:focus, .forms .group .sign-inputs:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.forms .group .tick {
  background: rgba(255, 255, 255, 0.1);
  transition: .2s all ease-out;
}

.forms .group .tick:checked + .check {
  color: white;
}

.forms .group .check {
  color: #6a6f8c;
  font-size: 18px;
  cursor: pointer;
  transition: .3s all ease-out;
}

.forms hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.forms .foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms .foot a {
  font-size: 18px;
  color: #6a6f8c;
  transition: .3s all ease-out;
}

.forms .foot a:hover {
  color: #c8c8c8;
}

.forms .foot p {
  font-size: 18px;
  color: #6a6f8c;
  cursor: pointer;
  transition: .3s all ease-out;
}

.forms .foot p:hover {
  color: #c8c8c8;
}

.dashboard .all-sections .navigation-tasks {
  width: 88%;
  position: relative;
  left: 12%;
}

.menu {
  width: 12%;
  height: 100vh;
  position: fixed;
  background-color: rgba(34, 34, 34, 0.3);
  color: crimson;
  box-shadow: 0 0 15px 5px whitesmoke;
}

.menu .logo {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid crimson;
}

.menu .logo img {
  width: 50%;
}

.menu .logo h1 {
  font-size: 20px;
}

.menu .menu-selections .menu-groups {
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: .3s all ease-out;
}

.menu .menu-selections .menu-groups a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  transition: .3s all ease-out;
}

.menu .menu-selections .menu-groups:hover {
  background-color: rgba(200, 200, 200, 0.2);
  color: wheat;
}

.menu .menu-selections .menu-groups:hover a {
  color: wheat;
}

.menu .menu-selections .menu-groups div i {
  font-size: 20px;
}

.menu .menu-selections .menu-groups .center-block {
  margin-left: 20px;
}

.menu .menu-selections .menu-groups .center-block p {
  font-size: 18px;
}

.navigation {
  background: rgba(34, 34, 34, 0.3);
  box-shadow: 0 0 15px 0px whitesmoke;
  color: rgba(255, 255, 255, 0.8);
}

.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation nav .name-of-selection {
  font-size: 1rem;
  font-weight: 500;
}

.navigation nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigation nav .nav-icons .main-nav-icons i {
  font-size: 1rem;
  padding: 15px;
  border-radius: 15px;
  transition: .3s all ease-out;
}

.navigation nav .nav-icons .main-nav-icons i:hover {
  background-color: rgba(200, 200, 200, 0.2);
  color: wheat;
}

.navigation nav .nav-icons .profile-settings {
  position: relative;
}

.navigation nav .nav-icons .profile-settings .person-icon i {
  font-size: 1rem;
  padding: 15px;
  border-radius: 15px;
  transition: .3s all ease-out;
}

.navigation nav .nav-icons .profile-settings .person-icon i:hover {
  background-color: rgba(200, 200, 200, 0.2);
  color: wheat;
}

.navigation nav .nav-icons .profile-settings .settings {
  display: none;
  position: absolute;
  padding: 8px;
  right: 0;
  background: rgba(34, 34, 34, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 1;
  transition: .3s all ease-out;
}

.navigation nav .nav-icons .profile-settings .settings .logout, .navigation nav .nav-icons .profile-settings .settings .profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: .3s all ease-out;
}

.navigation nav .nav-icons .profile-settings .settings .logout i, .navigation nav .nav-icons .profile-settings .settings .profile i {
  margin-right: 10px;
}

.navigation nav .nav-icons .profile-settings .settings .logout:hover, .navigation nav .nav-icons .profile-settings .settings .profile:hover {
  background-color: rgba(200, 200, 200, 0.2);
  color: wheat;
}

.navigation nav .nav-icons .profile-settings:hover .settings {
  display: block;
}

.main-panel {
  padding: 40px;
}

.main-panel .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-panel .cards .card {
  background-color: white;
  position: relative;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  margin: 15px;
}

.main-panel .cards .card .icons {
  position: absolute;
  padding: 25px 35px;
  top: -20px;
  left: 20px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.main-panel .cards .card .icons i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.main-panel .cards .card .i-1 {
  background: linear-gradient(45deg, #66bb6a, #43a048);
}

.main-panel .cards .card .i-2 {
  background: linear-gradient(45deg, #ffa826, #fb8a00);
}

.main-panel .cards .card .i-3 {
  background: linear-gradient(45deg, #ef5350, #e53835);
}

.main-panel .cards .card .i-4 {
  background: linear-gradient(45deg, #26c5da, #00abc1);
}

.main-panel .cards .card .txt-for-card {
  text-align: right;
  margin-bottom: 10px;
}

.main-panel .cards .card .txt-for-card p {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}

.main-panel .cards .card .txt-for-card h3 {
  color: #999;
  font-size: 28px;
}

.main-panel .cards .card .txt-for-card .weathers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-panel .cards .card .txt-for-card .weathers h3 {
  color: #999;
  font-size: 28px;
  margin-right: 10px;
}

.main-panel .cards .card hr {
  border: 1px solid rgba(153, 153, 153, 0.6);
  width: 100%;
}

.main-panel .cards .card .note {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 5px;
}

.main-panel .cards .card .note i {
  margin-right: 5px;
}

.main-panel .cards .card .note .green-color {
  color: #43a048;
}

.main-panel .cards .card .note .red-color {
  color: #e53835;
}

.main-panel .cards .card .note .blue-color {
  color: #00abc1;
}

.main-panel .cards .card .note p {
  color: #999;
}

.main-panel .insert-task-dorm-section {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
  border-radius: 20px;
  margin-bottom: 60px;
  background: white;
}

.main-panel .insert-task-dorm-section .insert-task-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: -30px;
  right: 30px;
  left: 30px;
  height: 60px;
}

.main-panel .insert-task-dorm-section .insert-task-title h1 {
  font-size: 18px;
}

.main-panel .insert-task-dorm-section .insert-task-form {
  background: white;
  color: #999;
  margin: 0 auto;
  width: 95%;
}

.main-panel .insert-task-dorm-section .insert-task-form .insert-task textarea {
  width: 100%;
  resize: vertical;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: .2s all ease-in-out;
}

.main-panel .insert-task-dorm-section .insert-task-form .insert-task textarea:focus, .main-panel .insert-task-dorm-section .insert-task-form .insert-task textarea:hover {
  border: 1px solid crimson;
}

.main-panel .task-manager {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
  border-radius: 20px;
  background: white;
}

.main-panel .task-manager .all-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: -30px;
  right: 30px;
  left: 30px;
  height: 60px;
}

.main-panel .task-manager .filters {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.main-panel .task-manager .filters h3 {
  padding: 15px;
}

.main-panel .task-manager .filters a .filter {
  padding: 15px;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.8);
  transition: .3s all ease-out;
}

.main-panel .task-manager .filters a .filter .yellow-color {
  color: #fb8a00;
  margin-right: 5px;
}

.main-panel .task-manager .filters a .filter .green-color {
  color: #43a048;
  margin-right: 5px;
}

.main-panel .task-manager .filters a .filter .red-color {
  color: #e53835;
  margin-right: 5px;
}

.main-panel .task-manager .filters a .filter:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: wheat;
}

.main-panel .task-manager .tasks {
  background: white;
  color: #999;
  margin: 0 auto;
  width: 95%;
  border-bottom: 1px solid #6a6f8c;
}

.main-panel .task-manager .tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.main-panel .task-manager .tasks .task div {
  display: flex;
  align-items: center;
}

.main-panel .task-manager .tasks .task div input {
  margin-right: 20px;
  margin-left: 25px;
}

.main-panel .task-manager .tasks .task input {
  width: 18px;
  height: 18px;
}

.main-panel .task-manager .tasks .task p {
  font-size: 16px;
}

.main-panel .task-manager .tasks .task-btns {
  font-size: 20px;
}

.main-panel .task-manager .tasks .task-btns div {
  padding: 15px;
  margin-right: 25px;
  border-radius: 15px;
  transition: .3s all ease-out;
}

.main-panel .task-manager .tasks .task-btns div i {
  transition: .3s all ease-out;
}

.main-panel .task-manager .tasks .task-btns div:hover {
  background-color: #423b3b;
  color: wheat;
}

footer {
  width: 88%;
  position: fixed;
  left: 12%;
  bottom: 0;
}

footer .footer-info-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(34, 34, 34, 0.3);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px 0 whitesmoke;
}

footer .footer-info-about-me .info-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

footer .footer-info-about-me .info-about-me .social-links {
  border-radius: 10px;
  transition: .3s all ease-out;
}

footer .footer-info-about-me .info-about-me .social-links a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  transition: .3s all ease-out;
}

footer .footer-info-about-me .info-about-me .social-links a i {
  margin-right: 5px;
  margin-bottom: 2px;
}

footer .footer-info-about-me .info-about-me .social-links:hover {
  background: rgba(200, 200, 200, 0.2);
}

footer .footer-info-about-me .info-about-me .social-links:hover a {
  color: crimson;
}

footer .footer-info-about-me .copyrights {
  margin-right: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

footer .footer-info-about-me .copyrights p {
  margin-right: 5px;
}

.avatar-information {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.avatar-information .avatars {
  width: 50%;
}

.avatar-information .avatars .avatars-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

.avatar-information .avatars .avatars-img .avatar-img {
  background-color: rgba(245, 245, 245, 0.6);
  box-shadow: 0 0 15px 5px whitesmoke;
  cursor: pointer;
  transition: .2s all ease-out;
}

.avatar-information .avatars .avatars-img .avatar-img img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.avatar-information .avatars .avatars-img .avatar-img:hover {
  transform: translateY(-10px);
}

.information {
  width: 50%;
}

.information .information-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.3);
  box-shadow: 0 0 15px 5px whitesmoke;
}

.information .information-form .form-group {
  position: relative;
  margin-bottom: 10px;
}

.information .information-form .form-group label {
  position: absolute;
  top: 25%;
  left: 8%;
  color: whitesmoke;
  transition: .2s all ease-in;
}

.information .information-form .form-group input {
  padding: 25px 18px 10px 15px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: #242424;
  color: white;
  width: 100%;
  box-shadow: 0 0 15px 5px whitesmoke;
  transition: .3s all ease-in;
}

.information .information-form .form-group input:active, .information .information-form .form-group input:focus, .information .information-form .form-group input:hover {
  background-color: rgba(94, 94, 94, 0.5);
}

.information .information-form .form-group:focus-within label, .information .information-form .form-group:focus-visible label {
  font-size: 12px;
  top: 6%;
  left: 8%;
}

.information .information-form .form-group .information-about-input-left {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  color: crimson;
  top: 0;
  left: -300px;
  right: 40px;
  bottom: 0;
  padding: 10px 15px;
  width: 300px;
  height: 80px;
  border-radius: 25px;
  background-color: #242424;
  z-index: 2;
  box-shadow: 0 0 15px 5px whitesmoke;
  animation-name: infoAnimeLeft;
  animation-duration: .8s;
}

.information .information-form .form-group .information-about-input-left i {
  margin-right: 10px;
}

.information .information-form .form-group .information-about-input-right {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  color: crimson;
  top: 0;
  left: 202px;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  width: 300px;
  height: 80px;
  border-radius: 25px;
  background-color: #242424;
  z-index: 2;
  box-shadow: 0 0 15px 5px whitesmoke;
  animation-name: infoAnimeRight;
  animation-duration: .8s;
}

.information .information-form .form-group .information-about-input-right i {
  margin-right: 10px;
}

.information .information-form .form-group:hover .information-about-input-left,
.information .information-form .form-group:hover .information-about-input-right {
  display: flex;
}

.information .information-form .information-btn {
  width: 100%;
}

.themes {
  width: 100%;
}

.themes .themes-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 20px;
}

.themes .themes-background .overflow-change {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(245, 245, 245, 0.8);
}

.themes .themes-background .overflow-change .theme {
  height: 250px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.themes .themes-background .overflow-change .theme::after {
  content: 'Theme';
  color: rgba(245, 245, 245, 0.8);
  text-shadow: 2px 2px crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-in;
}

.themes .themes-background .overflow-change .theme:hover {
  transform: scale(1.2);
}

.themes .themes-background .overflow-change .theme:hover::after {
  visibility: visible;
  opacity: 1;
}

.themes .themes-background .overflow-change .mountain {
  background: rgba(0, 0, 0, 0.301) url("../Images/pexels-kelsey-johnson-2331575.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: .3s all ease-in;
}

.themes .themes-background .overflow-change .forest {
  background: rgba(0, 0, 0, 0.452) url("../Images/pexels-arthouse-studio-4534200.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: .3s all ease-in;
}

.themes .themes-background .overflow-change .building {
  background: rgba(0, 0, 0, 0.322) url("../Images/pexels-sanaan-mazhar-3075993.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: .3s all ease-in;
}

.themes .themes-background .overflow-change .flowers {
  background: rgba(0, 0, 0, 0.233) url("../Images/pexels-irina-iriser-1408221.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: .3s all ease-in;
}

.themes .themes-background .overflow-change .abstract {
  background: rgba(0, 0, 0, 0.322) url("../Images/pexels-davide-baraldi-5088435.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: .3s all ease-in;
}

.themes .themes-background .overflow-change .bubles {
  background: rgba(0, 0, 0, 0.322) url("../Images/pexels-lumn-167699.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: .3s all ease-in;
}

.profile-all {
  padding: 40px;
  width: 1200px;
  margin: 0 auto;
}

.person-titles {
  color: whitesmoke;
  margin: 15px 0;
  text-align: center;
}

.weathers-sidebar {
  width: 20%;
  padding: 20px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.weathers-sidebar .main-weathers {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 25px;
}

.weathers-sidebar .main-weathers .select-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.weathers-sidebar .main-weathers .select-days .backwards {
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid whitesmoke;
}

.weathers-sidebar .main-weathers .select-days .backwards i {
  font-size: 25px;
}

.weathers-sidebar .main-weathers .select-days .forwards {
  text-align: right;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid whitesmoke;
}

.weathers-sidebar .main-weathers .select-days .forwards i {
  font-size: 25px;
}

.weathers-sidebar .main-weathers .todays-date {
  text-align: center;
  margin-bottom: 15px;
}

.weathers-sidebar .main-weathers .first-city .main-info-first-city {
  text-align: center;
}

.weathers-sidebar .main-weathers .first-city .main-info-first-city .selected-city-first {
  font-size: 30px;
}

.weathers-sidebar .main-weathers .first-city .main-info-first-city .info-about-todays-weather {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weathers-sidebar .main-weathers .first-city .main-info-first-city .info-about-todays-weather p {
  text-transform: capitalize;
}

.weathers-sidebar .main-weathers .first-city .main-info-first-city .temp-by-celsius {
  font-size: 30px;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first .night-first-city {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first .sunrise-first {
  font-size: 20px;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first .sunrise-first .sunrise-up-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first .sunrise-first .sunrise-up-first i {
  margin-right: 5px;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first .sunrise-first .sunrise-down-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .main-weathers .first-city .night-temp-sunrise-sundown-first .sunrise-first .sunrise-down-first i {
  margin-right: 5px;
}

.weathers-sidebar .additional-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .additional-weather .second-city {
  border-right: 1px solid whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weathers-sidebar .additional-weather .second-city .main-info-second-city {
  text-align: center;
  font-size: 20px;
}

.weathers-sidebar .additional-weather .second-city .main-info-second-city .selected-second-city {
  font-size: 20px;
}

.weathers-sidebar .additional-weather .second-city .night-temp-sunrise-sundown-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.weathers-sidebar .additional-weather .second-city .night-temp-sunrise-sundown-second .night-temp-second-city {
  font-size: 18px;
  margin-right: 15px;
}

.weathers-sidebar .additional-weather .second-city .night-temp-sunrise-sundown-second .sunrise-second {
  font-size: 16px;
}

.weathers-sidebar .additional-weather .second-city .night-temp-sunrise-sundown-second .sunrise-second .sunrise-up-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .additional-weather .second-city .night-temp-sunrise-sundown-second .sunrise-second .sunrise-down-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .additional-weather .second-city .night-temp-sunrise-sundown-second .sunrise-second i {
  margin-right: 5px;
}

.weathers-sidebar .additional-weather .third-city {
  border-right: 1px solid whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weathers-sidebar .additional-weather .third-city .main-info-third-city {
  text-align: center;
  font-size: 20px;
}

.weathers-sidebar .additional-weather .third-city .main-info-third-city .selected-third-city {
  font-size: 20px;
}

.weathers-sidebar .additional-weather .third-city .night-temp-sunrise-sundown-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.weathers-sidebar .additional-weather .third-city .night-temp-sunrise-sundown-third .night-temp-third-city {
  font-size: 18px;
  margin-right: 15px;
}

.weathers-sidebar .additional-weather .third-city .night-temp-sunrise-sundown-third .sunrise-third {
  font-size: 16px;
}

.weathers-sidebar .additional-weather .third-city .night-temp-sunrise-sundown-third .sunrise-third .sunrise-up-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .additional-weather .third-city .night-temp-sunrise-sundown-third .sunrise-third .sunrise-down-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weathers-sidebar .additional-weather .third-city .night-temp-sunrise-sundown-third .sunrise-third i {
  margin-right: 5px;
}

.upcoming-hours {
  position: relative;
  width: 80%;
  margin-bottom: 40px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.upcoming-hours .upcoming-hours-title {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  background-color: #6a6f8c;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-hours .weathers-by-hours {
  margin-top: 20px;
  padding: 20px;
  height: 300px;
}

.mini-weather-dashboards-all {
  position: relative;
  border: 1px solid whitesmoke;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .title-of-all-mini-dashboards-all {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
  height: 40px;
  background-color: #6a6f8c;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-weather-dashboards-all .mini-weather-dashboards {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard {
  position: relative;
  width: 30%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-weather-dashboard-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
  height: 40px;
  background-color: #6a6f8c;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info {
  padding: 10px;
  margin-top: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .info {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-temp .temp-by-celsius {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-temp .feels-like-temp-back {
  background: aliceblue;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-temp .feels-like-temp-back .feels-like-temp-progress {
  background: crimson;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-wind {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-wind .wind-both-numbers-progress .wind-by-meters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-wind .wind-both-numbers-progress .wind-speed-back {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: aliceblue;
  width: 100%;
  height: 8px;
  border-radius: 10px / 140px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-wind .wind-both-numbers-progress .wind-speed-back .wind-speed-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-by-range {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back .uv-index-range-progress {
  background: aliceblue;
  width: 18%;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back .uv-index-range-progress .uv-index-progress-1 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back .uv-index-range-progress .uv-index-progress-2 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 50%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back .uv-index-range-progress .uv-index-progress-3 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back .uv-index-range-progress .uv-index-progress-4 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-uv-index .uv-index-range-back .uv-index-range-progress .uv-index-progress-5 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-chance-of-rain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-chance-of-rain .chance-of-rain-by-percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-chance-of-rain .chance-of-rain-back {
  background: aliceblue;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-chance-of-rain .chance-of-rain-back .chance-of-rain-progress {
  background: crimson;
  width: 42%;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-by-range {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress {
  background: aliceblue;
  width: 9%;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-1 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-2 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 40%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-3 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-4 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-5 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-6 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-7 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-8 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-9 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-precipitation .precipitation-range-back .precipitation-range-progress .precipitation-progress-10 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 0%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity .humidity-by-range {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity .humidity-range-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity .humidity-range-back .humidity-range-progress {
  background: aliceblue;
  width: 30%;
  height: 10px;
  border-radius: 10px;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity .humidity-range-back .humidity-range-progress .humidity-progress-1 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity .humidity-range-back .humidity-range-progress .humidity-progress-2 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 100%;
}

.mini-weather-dashboards-all .mini-weather-dashboards .mini-weather-dashboard .mini-dashboard-main-info .line-of-humidity .humidity-range-back .humidity-range-progress .humidity-progress-3 {
  background: crimson;
  height: 10px;
  border-radius: 10px;
  width: 20%;
}

.weathers-maps {
  position: relative;
  width: 95%;
  margin-bottom: 40px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.weathers-maps .weather-map-title {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  background-color: #6a6f8c;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weathers-maps .weather-map {
  margin-top: 20px;
  padding: 20px;
  height: 300px;
}

.all-weathers {
  padding: 40px;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
}

.main-todays-weathers-info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}
