// Used for variables, functions, mixins and others...

$font-stack: 'nunito, sans-serif';
$primary-color: #6a6f8c;
$secondary-color: #c8c8c8;
$btn-color: #1161ee;
$background-color: rgba(40,57,101,.8);

@function text-color($color) {
    @if(lightness($color) > 70) {
        @return $background-color;
    }   @else {
        @return #fff;
    }
}

// Background and text color
@mixin set-background($color) {
    background-color: $color;
    color: text-color($color);
}