// Task Manager - Sidebar styles =================================================

.menu {
    width: 12%;
    height: 100%;
    position: fixed;
    background-color: $aside-back;
    color: $aside-color;

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $aside-color;

        & img {
            width: 50%;
        }
    }

    .menu-selections {

        .menu-groups {
            @include flex;
            border-radius: 15px;
            transition: .3s all ease-out;

            & a {
                @include flex;
                width: 100%;
                padding: 15px;
                transition: .3s all ease-out;
            }

            &:hover {
                background-color: $aside-hover-back;
                color: $aside-hover-color;

                & a {
                    color: $aside-hover-color;
                }
            }

            & div i {
                font-size: 20px;
            }

            .center-block {
                margin-left: 20px;

                & p {
                    font-size: 18px;
                }
            }
        }
    }
}