// Variables =================================================

// Weather Mini Dashboards main styles =================================================
.mini-weather-dashboards-all {
    position: relative;
    border: 1px solid whitesmoke;
    width: 95%;
    @include flex-c;
    margin-bottom: 40px;
    border-radius: 10px;

    .title-of-all-mini-dashboards-all {
        position: absolute;
        top: -20px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 95%;
        margin: 0 auto;
        height: 40px;
        background-color: $primary-color;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        @include flex-c;
    }

    .mini-weather-dashboards {
        padding: 20px;
        margin-top: 20px;
        @include flex-se;
        flex-wrap: wrap;

        .mini-weather-dashboard {
            position: relative;
            width: 30%;
            border: 1px solid whitesmoke;
            border-radius: 10px;
            margin: 15px;
            padding: 10px;
            height: 150px;

            .mini-weather-dashboard-title {
                @include flex-sa;
                position: absolute;
                top: -20px;
                bottom: 0;
                left: 0;
                right: 0;
                width: 95%;
                margin: 0 auto;
                height: 45px;
                background-color: $primary-color;
                border: 1px solid whitesmoke;
                border-radius: 10px;
            }

            .mini-dashboard-main-info {
                padding: 5px;
                margin-top: 20px;

                .info {
                    text-align: center;
                    font-size: 24px;
                    margin: 10px;
                }

                .line-of-temp {
                    @include flex-c;
                    flex-wrap: wrap;
                    width: 100%;

                    .temp-by-celsius {
                        @include flex-sb;
                        width: 100%;
                    }

                    .feels-like-temp-back {
                        background: aliceblue;
                        width: 100%;
                        height: 10px;
                        border-radius: 10px;

                        .feels-like-temp-progress {
                            background: crimson;
                            height: 10px;
                            border-radius: 10px;
                        }
                    }
                }

                .line-of-wind {
                    width: 100%;
                    margin-top: 20px;
                    
                        .wind-by-meters {
                            width: 100%;
                            position: relative;

                            .wind-1 {
                                position: absolute;
                                transform: translate(60px, 35px);
                            }

                            .wind-2 {
                                position: absolute;
                                transform: translate(78px, 0px);
                            }

                            .wind-3 {
                                position: absolute;
                                transform: translate(110px, -28px);
                            }

                            .wind-4 {
                                position: absolute;
                                transform: translate(165px, -28px);
                            }

                            .wind-5 {
                                position: absolute;
                                transform: translate(208px, 0px);
                            }

                            .wind-6 {
                                position: absolute;
                                transform: translate(225px, 35px);
                            }
                        }
    
                        .wind-speed-back {
                            @include flex-se;
                            width: 100%;
                            height: 30px;
                            position: relative;
                            
                            .wind-speed-prog-back-1 {
                                position: absolute;
                                background: aliceblue;
                                transform: translate(-65px, 20px) rotate(-70deg);
                                width: 10%;
                                height: 10px;
                                border-radius: 10px;

                                .wind-speed-progress-1 {
                                    background: crimson;
                                    height: 10px;
                                    border-radius: 10px;
                                }
                            }

                            .wind-speed-prog-back-2 {
                                position: absolute;
                                background: aliceblue;
                                width: 12%;
                                height: 10px;
                                border-radius: 10px;
                                transform: translate(-40px, -10px) rotate(-35deg);

                                .wind-speed-progress-2 {
                                    background: crimson;
                                    height: 10px;
                                    border-radius: 10px;
                                }
                            }

                            .wind-speed-prog-back-3 {
                                position: absolute;
                                background: aliceblue;
                                width: 12%;
                                height: 10px;
                                border-radius: 10px;
                                transform: translate(0px, -22px) rotate(0deg);

                                .wind-speed-progress-3 {
                                    background: crimson;
                                    height: 10px;
                                    border-radius: 10px;
                                }
                            }

                            .wind-speed-prog-back-4 {
                                position: absolute;
                                background: aliceblue;
                                width: 12%;
                                height: 10px;
                                border-radius: 10px;
                                transform: translate(40px, -10px) rotate(35deg);

                                .wind-speed-progress-4 {
                                    background: crimson;
                                    height: 10px;
                                    border-radius: 10px;
                                }
                            }

                            .wind-speed-prog-back-5 {
                                position: absolute;
                                background: aliceblue;
                                width: 10%;
                                height: 10px;
                                border-radius: 10px;
                                transform: translate(65px, 20px) rotate(70deg);

                                .wind-speed-progress-5 {
                                    background: crimson;
                                    height: 10px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    

                    .custom-arrow {
                        position: relative;

                        .rotate-arr {
                            transform: rotateZ(102deg);
                            width: 100%;
                            
                            .arrow-front {
                                position: absolute;
                                width: 0; 
                                height: 0; 
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                border-bottom: 28px solid crimson;
                                transform: translate(145px, -35px);
                            }
    
                            .arrow-back {
                                position: absolute;
                                background-color: crimson;
                                height: 12px;
                                width: 12px;
                                border-radius: 50px;
                                transform: translate(145px, 0px);
                            }
                        }
                    }
                }

                .line-of-uv-index {
                    @include flex-c;
                    flex-wrap: wrap;
                    width: 100%;

                    .uv-index-by-range {
                        @include flex-sa;
                        width: 100%;
                    }

                    .uv-index-range-back {
                        @include flex-sb;
                        width: 100%;

                        .uv-index-range-progress {
                            background: aliceblue;
                            width: 18%;
                            height: 10px;
                            border-radius: 10px;

                            .uv-index-progress-1 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .uv-index-progress-2 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .uv-index-progress-3 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .uv-index-progress-4 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .uv-index-progress-5 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                .line-of-chance-of-rain {
                    @include flex-c;
                    flex-wrap: wrap;
                    width: 100%;

                    .chance-of-rain-by-percentage {
                        @include flex-sb;
                        width: 100%;
                    }

                    .chance-of-rain-back {
                        background: aliceblue;
                        width: 100%;
                        height: 10px;
                        border-radius: 10px;

                        .chance-of-rain-progress {
                            background: crimson;
                            height: 10px;
                            border-radius: 10px;
                        }
                    }
                }

                .line-of-precipitation {
                    @include flex-c;
                    flex-wrap: wrap;
                    width: 100%;

                    .precipitation-by-range {
                        @include flex-se;
                        width: 100%;
                    }

                    .precipitation-range-back {
                        @include flex-se;
                        width: 100%;

                        .precipitation-range-progress {
                            background: aliceblue;
                            width: 9%;
                            height: 10px;
                            border-radius: 10px;

                            .precipitation-progress-1 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-2 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-3 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-4 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }
                            
                            .precipitation-progress-5 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-6 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-7 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-8 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-9 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .precipitation-progress-10 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                .line-of-humidity {
                    @include flex-c;
                    flex-wrap: wrap;
                    width: 100%;

                    .humidity-by-range {
                        @include flex-sa;
                        width: 100%;
                    }

                    .humidity-range-back {
                        @include flex-sb;
                        width: 100%;

                        .humidity-range-progress {
                            background: aliceblue;
                            width: 30%;
                            height: 10px;
                            border-radius: 10px;

                            .humidity-progress-1 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .humidity-progress-2 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }

                            .humidity-progress-3 {
                                background: crimson;
                                height: 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}