// Variables =================================================

// Contact form main styles =================================================
// Perrasyti visa
.contact-form {
    background-color: white;
    padding: 48px;
    margin: 40px;
}

.contact h2 {
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    margin-bottom: 48px;
}

.col-6, .col-12 {
    color: black;
    font-size: 16px;
    line-height: 27.2px;
    margin-bottom: 8px;
    text-align: left;
}

.col-6 {
    display: inline-block;
    width: 48%;
    margin-right: 30px;
}

.col--6 {
    display: inline-block;
    width: 48%;

}

.col--6 .form-control {
    width: 100%;
}

.col-6 .form-control {
    width: 100%;
}

.form-control {
    background-color: white;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 30px;
    color: rgb(73, 80, 87);
    font-size: 16px;
    height: 43px;
    line-height: 24px;
    padding: 6px 12px;
}

.col-12 .form-control {
    width: 100%;
}

.col-12 textarea {
    height: 182px;
}

.form-control:active, .form-control:focus {
    border: 1px solid #007bff;
}

.form-control:focus {
    background-color: white;
    color: #495057;
    /* nuima ta slykstu apibrezima :D  ziauriai cool reiktu isidemeti kuriant */
    outline: 0;
}

.btn-send {
    background-color: #007bff;
    border: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 30px;
    transition: 0.3s;
}

.btn-send:hover {
    background-color: black;
}