// Variables =================================================
$btn-box-shadow-color: whitesmoke;

$btn-primary-color: white;
$btn-primary-background-color: #1161ee;
$btn-primary-hover-background-color: midnightblue;
$btn-primary-hover-color: #999;

$btn-secondary-color: white;
$btn-secondary-background-color: crimson;
$btn-secondary-hover-background-color: rgb(104, 104, 104);
$btn-secondary-hover-color: whitesmoke;

// Used for buttons =================================================
%btn {
    display: block;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: .3s all ease-in;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @extend %btn;
    width: 100%;
    color: $btn-primary-color;
    background-color: $btn-primary-background-color;
    
    &:hover {
        background-color: $btn-primary-hover-background-color;
        color: $btn-primary-hover-color;
        box-shadow: 0 0 15px 5px $btn-box-shadow-color;
    }
}

.btn-secondary {
    @extend %btn;
    color: $btn-secondary-color;
    background-color: $btn-secondary-background-color;
    padding: 8px 16px;

    &:hover {
        background-color: $btn-secondary-hover-background-color;
        color: $btn-secondary-hover-color;
    }
}
