// Used for variables, functions, mixins and others... =================================================

// Main Variables =================================================
$font-stack: 'Ubuntu', nunito, sans-serif;
$primary-color: #6a6f8c;
$secondary-color: #c8c8c8;
$anchor-links-color: rgba(255, 255, 255, 0.8);

// Mixins ==============================
@mixin flex() {
    display: flex;
    align-items: center;
}
@mixin flex-sb() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-c() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-sa() {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-sa-nc() {
    display: flex;
    justify-content: space-around;
}


// @function text-color($color) {
//     @if(lightness($color) > 70) {
//         @return $background-color;
//     }   @else {
//         @return #fff;
//     }
// }

// // Background and text color
// @mixin set-background($color) {
//     background-color: $color;
//     color: text-color($color);
// }