// Navigation variables ==============================
$nav-back: rgba(34, 34, 34, 0.3);
$nav-color: rgba(255, 255, 255, .8);
$nav-hover-back: hsla(0, 0, 78.4%, .2);
$nav-hover-color: wheat;
$nav-box-shadow-color: whitesmoke;

// Task Manager - Navigation styles =================================================

.navigation {
    background: $nav-back;
    box-shadow: 0 0 15px 0px $nav-box-shadow-color;
    color: $nav-color;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .name-of-selection {
            font-size: 1rem;
            font-weight: 500;
        }

        .nav-icons {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .main-nav-icons i {
                font-size: 1rem;
                padding: 15px;
                border-radius: 15px;
                transition: .3s all ease-out;

                &:hover {
                    background-color: $nav-hover-back;
                    color: $nav-hover-color;
                }
            }

            .profile-settings {
                position: relative;

                .person-icon i {
                    font-size: 1rem;
                    padding: 15px;
                    border-radius: 15px;
                    transition: .3s all ease-out;
    
                    &:hover {
                        background-color: $nav-hover-back;
                        color: $nav-hover-color;
                    }
                }

                .settings {
                    display: none;
                    position: absolute;
                    padding: 8px;
                    right: 0;
                    background: $nav-back;
                    color: $nav-color;
                    border-radius: 15px;
                    z-index: 1;
                    transition: .3s all ease-out;
                
                    .logout, .profile {
                        @include flex-sa;
                        border-radius: 15px;
                        padding: 10px 20px;
                        font-size: 1rem;
                        transition: .3s all ease-out;

                        & i {
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: $nav-hover-back;
                            color: $nav-hover-color;
                        }
                    }
                }
                
                &:hover .settings {
                    display: block;
                }
            }
        }
    }
}