// Variables ==============================
$aside-color: crimson;
$aside-back: rgba(34, 34, 34, 0.3);
$aside-hover-color: wheat;
$aside-hover-back: hsla(0, 0, 78.4%, .2);
$aside-box-shadow-color: whitesmoke;

// Sidebar styles =================================================

.menu {
    width: 12%;
    height: 100vh;
    position: fixed;
    background-color: $aside-back;
    color: $aside-color;
    box-shadow: 0 0 15px 5px $aside-box-shadow-color;

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $aside-color;

        & img {
            width: 50%;
        }

        h1 {
            font-size: 20px
        }
    }

    .menu-selections {

        .menu-groups {
            @include flex;
            border-radius: 15px;
            transition: .3s all ease-out;

            & a {
                @include flex;
                width: 100%;
                padding: 15px;
                transition: .3s all ease-out;
            }

            &:hover {
                background-color: $aside-hover-back;
                color: $aside-hover-color;

                & a {
                    color: $aside-hover-color;
                }
            }

            & div i {
                font-size: 20px;
            }

            .center-block {
                margin-left: 20px;

                & p {
                    font-size: 18px;
                }
            }
        }
    }
}