// Variables ===========================================================
$label-color: whitesmoke;
$input-color: white;
$input-background-color: rgb(36, 36, 36);
$input-background-hover-color: rgba(94, 94, 94, 0.5);
$information-form-background-color: rgba(34, 34, 34, 0.3);
$information-form-box-shadow-color: whitesmoke;
$input-box-shadow-color: whitesmoke;

// Information ===========================================================
.information {
    width: 50%;

    .information-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background-color: $information-form-background-color;
        box-shadow: 0 0 15px 5px $information-form-box-shadow-color;

        .form-group {
            position: relative;
            margin-bottom: 10px;

            label {
                position: absolute;
                top: 25%;
                left: 8%;
                color: $label-color;
                transition: .2s all ease-in;
            }

            input {
                padding: 25px 18px 10px 15px;
                outline: none;
                border: none;
                border-radius: 25px;
                background-color: $input-background-color;
                color: $input-color;
                width: 100%;
                box-shadow: 0 0 15px 5px $input-box-shadow-color;
                transition: .3s all ease-in;

                &:active, &:focus, &:hover {
                    background-color: $input-background-hover-color;
                }
            }

            &:focus-within label, &:focus-visible label {
                font-size: 12px;
                top: 6%;
                left: 8%;
            }
        }

        .information-btn {
            width: 100%;
        }
    }
}
