// Profile dashboard imports =================================================
@import './avatar';
@import './information';
@import './themes';

// Variables =================================================
$titles-color: whitesmoke;

// Profile dashboard main styles =================================================

.profile-all {
    padding: 40px;
    width: 1200px;
    margin: 0 auto;
}

.person-titles {
    color: $titles-color;
    margin: 15px 0;
    text-align: center;
}