// Variables ===========================================================
$theme-back-1: rgba(0, 0, 0, 0.301);
$theme-img-1: '../Images/Themes/theme-1.jpg';
$theme-back-2: rgba(0, 0, 0, 0.452);
$theme-img-2: '../Images/Themes/theme-2.jpg';
$theme-back-3: rgba(0, 0, 0, 0.322);
$theme-img-3: '../Images/Themes/theme-3.jpg';
$theme-back-4: rgba(0, 0, 0, 0.233);
$theme-img-4: '../Images/Themes/theme-4.jpg';
$theme-back-5: rgba(0, 0, 0, 0.322);
$theme-img-5: '../Images/Themes/theme-5.jpg';
$theme-back-6: rgba(0, 0, 0, 0.322);
$theme-img-6: '../Images/Themes/theme-6.jpg';

$shadow-color: rgba(245, 245, 245, 0.8);
$text-shadow: crimson;
$text-color: rgba(245, 245, 245, 0.8);

// Themes ===========================================================
.themes {
    width: 100%;

    .themes-background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        border-radius: 10px;
        padding: 20px;

        .overflow-change {
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 15px 5px $shadow-color;

            .theme {
                height: 250px;
                width: 150px;
                cursor: pointer;
                position: relative;

                &::after {
                    content: 'Theme';
                    color: $text-color;
                    text-shadow: 2px 2px $text-shadow;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    font-weight: 600;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s all ease-in;
                }

                &:hover {
                    transform: scale(1.2);

                    &::after{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
    
            .theme-img-1 {
                background: $theme-back-1 url($theme-img-1) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
            
            .theme-img-2 {
                background: $theme-back-2 url($theme-img-2) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .theme-img-3 {
                background: $theme-back-3 url($theme-img-3) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .theme-img-4 {
                background: $theme-back-4 url($theme-img-4) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .theme-img-5 {
                background: $theme-back-5 url($theme-img-5) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .theme-img-6 {
                background: $theme-back-6 url($theme-img-6) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
        }
    }
}