// Variables ===========================================================
$mountain-back: rgba(0, 0, 0, 0.301);
$mountain-img: '../Images/pexels-kelsey-johnson-2331575.jpg';
$forest-back: rgba(0, 0, 0, 0.452);
$forest-img: '../Images/pexels-arthouse-studio-4534200.jpg';
$building-back: rgba(0, 0, 0, 0.322);
$building-img: '../Images/pexels-sanaan-mazhar-3075993.jpg';
$flowers-back: rgba(0, 0, 0, 0.233);
$flowers-img: '../Images/pexels-irina-iriser-1408221.jpg';
$abstract-back: rgba(0, 0, 0, 0.322);
$abstract-img: '../Images/pexels-davide-baraldi-5088435.jpg';
$bubles-back: rgba(0, 0, 0, 0.322);
$bubles-img: '../Images/pexels-lumn-167699.jpg';

$shadow-color: rgba(245, 245, 245, 0.8);
$text-shadow: crimson;
$text-color: rgba(245, 245, 245, 0.8);

// Themes ===========================================================
.themes {
    width: 100%;

    .themes-background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        border-radius: 10px;
        padding: 20px;

        .overflow-change {
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 15px 5px $shadow-color;

            .theme {
                height: 250px;
                width: 150px;
                cursor: pointer;
                position: relative;

                &::after {
                    content: 'Theme';
                    color: $text-color;
                    text-shadow: 2px 2px $text-shadow;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    font-weight: 600;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s all ease-in;
                }

                &:hover {
                    transform: scale(1.2);

                    &::after{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
    
            .mountain {
                background: $mountain-back url($mountain-img) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
            
            .forest {
                background: $forest-back url($forest-img) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .building {
                background: $building-back url($building-img) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .flowers {
                background: $flowers-back url($flowers-img) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .abstract {
                background: $abstract-back url($abstract-img) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
    
            .bubles {
                background: $bubles-back url($bubles-img) no-repeat center;
                background-size: cover;
                background-blend-mode: multiply;
                transition: .3s all ease-in;
            }
        }
    }
}