// Variables =================================================
$cards-back: rgb(255, 255, 255);
$cards-txt-color: #999;
$icon-back-1: linear-gradient(45deg, #66bb6a, #43a048);
$icon-back-2: linear-gradient(45deg, #ffa826, #fb8a00);
$icon-back-3: linear-gradient(45deg, #ef5350, #e53835);
$icon-back-4: linear-gradient(45deg, #26c5da, #00abc1);
$icons-color: rgba(255, 255, 255, .8);
$green-icon: #43a048;
$red-icon: #e53835;
$blue-icon: #00abc1;
$orange-icon: #fb8a00;
$hr-color: rgba(153, 153, 153, .6);
$info-txt-color: #999;
$task-manager-back: rgb(255, 255, 255);
$tasks-filter-header-back: linear-gradient(45deg, #26c5da, #00abc1);
$tasks-filter-header-color: rgba(255, 255, 255, .8);
$tasks-filter-btn-back: rgba(0, 0, 0, .6);
$tasks-filter-btn-color: wheat;
$task-back: rgb(255, 255, 255);
$task-color: #999;
$task-btn-back: rgb(66, 59, 59);
$task-btn-color: wheat;

// Main Panel styles =================================================
.main-panel {
    padding: 40px;

    .cards {
        @include flex-sb;

        .card {
            background-color: $cards-back;
            position: relative;
            padding: 15px;
            border-radius: 15px;
            width: 100%;
            margin: 15px;
            
                .icons {
                    position: absolute;
                    padding: 25px 35px;
                    top: -20px;
                    left: 20px;
                    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .4);
                    border-radius: 10px;

                    & i {
                        font-size: 25px;
                        color: $icons-color;
                    }
                }

                .i {
                    &-1{
                        background: $icon-back-1;
                    }
                    &-2{
                        background: $icon-back-2;
                    }
                    &-3{
                        background: $icon-back-3;
                    }
                    &-4{
                        background: $icon-back-4;
                    }
                }

                .txt-for-card {
                    text-align: right;
                    margin-bottom: 10px;

                    & p {
                        font-size: 14px;
                        color: $cards-txt-color;
                        font-weight: 400;
                    }

                    & h3 {
                        color: $cards-txt-color;
                        font-size: 28px;
                    }

                    .weathers {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        
                        & h3 {
                            color: $cards-txt-color;
                            font-size: 28px;
                            margin-right: 10px;
                        }
                    }
                }

            hr {
                border: 1px solid $hr-color;
                width: 100%;
            }

            .note {
                @include flex;
                font-size: 12px;
                margin-left: 5px;

                & i {
                    margin-right: 5px;
                }

                .green-color {
                    color: $green-icon;
                }

                .red-color {
                    color: $red-icon;
                }
                
                .blue-color {
                    color: $blue-icon;
                }

                & p {
                    color: $info-txt-color;
                }
            }
        }
    }

    .task-manager {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        padding: 40px 20px;
        border-radius: 20px;
        background: $task-manager-back;

        .all-filters {
           @include flex-c;
           background: $tasks-filter-header-back;
           border-radius: 10px;
           color: $tasks-filter-header-color;
           position: absolute;
           top: -30px;
           right: 30px;
           left: 30px;
        }

        .filters {
            @include flex;

            & h3 {
                padding: 15px;
            }

            & a {

                .filter {
                    padding: 15px;
                    border-radius: 15px;
                    color: $tasks-filter-header-color;
                    transition: .3s all ease-out;
                    
                    & .yellow-color {
                        color: $orange-icon;
                        margin-right: 5px;
                    }
    
                    & .green-color {
                        color: $green-icon;
                        margin-right: 5px;
                    }
    
                    & .red-color {
                        color: $red-icon;
                        margin-right: 5px;
                    }
    
                    &:hover {
                        background-color: $tasks-filter-btn-back;
                        color: $tasks-filter-btn-color;
                    }
                }
            }
        }

        .tasks {
            background: $task-back;
            color: $task-color;
            margin: 0 auto;
            width: 95%;
            border-bottom: 1px solid $primary-color;

            .task {
                @include flex-sb;
                padding: 5px;

                div {
                    @include flex;

                    input {
                        margin-right: 20px;
                        margin-left: 25px;
                    }
                }

                input {
                    width: 18px;
                    height: 18px;
                }

                p {
                    font-size: 16px;
                }
            }

            .task-btns {
                font-size: 20px;

                div {
                    padding: 15px;
                    margin-right: 25px;
                    border-radius: 15px;
                    transition: .3s all ease-out;

                    i {
                        transition: .3s all ease-out;
                    }

                    &:hover {
                        background-color: $task-btn-back;
                        color: $task-btn-color;
                    }
                }
            }
        }
    }
}