// Task Manager styles =================================================

.dashboard {
    
    .all-sections {
    
        .navigation-tasks {
            width: 88%;
            position: relative;
            left: 12%;
        }
    }
}

// Sidebar styles =================================================
@import '../Main/sidebar';

// Navigation styles =================================================
@import '../Main/navigation';

// Main Panel styles =================================================
@import './panel';

// Footer styles =================================================
@import '../Main/footer';