// Task Manager styles =================================================

.dashboard {
    position: relative;
    height: 100%;
    background: url(../Images/main-back.jpg) no-repeat center;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: multiply;
    color: $secondary-color;
    
    .all-sections {
        display: flex;
        position: relative;
    
        .navigation-tasks {
            width: 88%;
            position: relative;
            left: 12%;
        }
    }
}

// Sidebar styles =================================================
@import '../Main/sidebar';

// Navigation styles =================================================
@import '../Main/navigation';

// Main Panel styles =================================================
@import './panel';

// Footer styles =================================================
@import '../Main/footer';